@font-face {
    font-family: "jersey-sp";
    src: url('font/Jersey10-Regular.ttf');
}

@font-face {
    font-family: "silkscreen";
    src: url('font/Silkscreen-Regular.ttf');
}

@font-face {
    font-family: "silkscreen-bold";
    src: url('font/Silkscreen-Bold.ttf');
}

* {
    font-family: "silkscreen" !important;
    color: #D0E7D2 !important;
}

body::-webkit-scrollbar {
    height: 2vh;
    width: 5px;
    display: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #D0E7D2;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #79AC78;
}

body {
    background: #618264 !important;
    overflow-x: hidden !important;
}

main {
    min-height: 100vh !important;
}

.nav {
    background-color: #618264 !important;
    border: 4px solid #D0E7D2 !important;
}

.nav-link {
    transition: background-color 0.2s ease-in-out;
  }
  
.nav-link:hover {
-webkit-text-fill-color : #79AC78 !important;
}

.hover-1 {
background: linear-gradient(#79AC78 0 0) var(--p, 0) / var(--p, 0) no-repeat;
transition: 0.4s, background-position 0s;
}
.hover-1:hover {
--p: 100%;
color: #fff;
}

.img-hover {
    --b: 8px; /* border thickness */
    --c: #0000 25%, #79AC78 0; /* define the color here */
    padding: 10px;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--c)) 0    0,
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--c)) 100% 0,
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--c)) 0    100%,
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--c)) 100% 100%;
    background-size: 50px 50px; /* adjust border length here */
    background-repeat: no-repeat;
    transition: .6s;
    cursor: pointer;
}
  
.img-hover:hover {
    background-size: 51% 51%;
}

.price-innerdetail h5 {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 15px;
}

.price-innerdetail p {
    font-size: 50px;
}

.detail-pricing {
    border-bottom: 1px solid;
    padding: 30px 0 30px 0;
}

.detail-pricing .float-left {
    padding: 0 0 0 40px;
}

.detail-pricing .float-left i {
    position: absolute;
    left: 0;
    font-size: 20px;
}

.detail-pricing span {
    display: inline-block;
    position: relative;
    font-weight: 400;
}

.wrap-price {
    background: rgba(32, 33, 36, .1);
    padding: 50px 20px 50px;
    border-radius: 10px;
}

.center-wrap {
    background: #070707;
    color: #fff;
}

.nav-link:hover {
    text-align: center;
    font-weight: bolder;
    font-size: large !important;
    background-color: #D0E7D2 !important; /* Add your desired background color */
    /* Add any other styles you want to apply on hover */
}

.tag {
    font-weight: bolder;
    text-align: center;
    font-size: x-small;
    border-radius: 10px;
    background-color: #618264;
}

.tag-light {
    font-weight: bolder;
    text-align: center;
    font-size: x-small;
    border-radius: 10px;
    background-color: #79AC78;
}

.rank-card {
    background-color: #79AC78;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rank-card.rank {
    font-size: 24px;
    font-weight: bold;
}

.rank-card.username {
    font-size: 18px;
}

.rank-table {
    background-color: #79AC78;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: x-large;
}

.rank-table th {
    background-color: #198754;
}

.rank-table tr {
    background-color: #79AC78;
}

.rank-table td {
    background-color: #79AC78;
}

.nav-link.active {
    background-color: #198754 !important;
    border: none !important;
}
:root {
    --border: 10px;
    --color1: #8cff28;
    --color2: #00a547;
    --from: 17deg;
    --distance: 57%;
}

.img-wrap {
    position: relative;
    padding: 30px;
}

.img-wrap::after {
    content: '';
    border-radius: 999px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: conic-gradient(
      from var(--from),
      var(--color1),
      var(--color2) var(--distance),
      transparent var(--distance)
    );
    -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - var(--border)),
      #fff calc(100% - var(--border) + 1px)
    );
    mask: radial-gradient(
      farthest-side,
      transparent calc(100% - var(--border)),
      #fff calc(100% - var(--border) + 1px)
    );
  }

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #D0E7D2;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #618264;
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #198754;
}

.list-group-item-custom {
    background-color: #618264 !important;
    border: 1px solid #79AC78 !important;
}