.hero {
    position: relative;
    overflow: hidden;
  }
  
  .cube {
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 10px;
    height: 10px;
    border: solid 1px #00df22;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
    animation: cube 12s ease-in forwards infinite;
  }
  
  .cube:nth-child(2n) {
    border-color: #9cff83;
  }
  
  .cube:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    left: 5vw; /* Adjusted */
    top: 20vh;  /* Adjusted */
  }
  
  .cube:nth-child(3) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    left: 2vw; /* Adjusted */
    top: 25vh;  /* Adjusted */
  }
  
  .cube:nth-child(4) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    left: 50vw; /* Adjusted */
    top: 30vh;  /* Adjusted */
  }
  
  .cube:nth-child(5) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
    left: 55vw; /* Adjusted */
    top: 35vh;  /* Adjusted */
  }
  
  .cube:nth-child(6) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    left: 30vw; /* Adjusted */
    top: 40vh;  /* Adjusted */
  }
  
  @-webkit-keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }