.floating__container {
    position: fixed;
    width: 160px;
    height: 160px;
    bottom: 0;
    right: 0;
    margin: 80px 10px;
    background-color: transparent;
    border: none;
    z-index: 9999;
}

.floating__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
    cursor: pointer;
    z-index: 9990;
}

.message__area {
    max-width: 200px;
    font-size: medium;
    font-weight: bold;
    border-radius: 50px;
    position: absolute;
    background: #fff;
    top: 0;
    left: -160px; /* Adjust the value based on your desired position */
    width: auto;
    height: auto;
    box-sizing: border-box;
    z-index: 8888;
    overflow: auto;
}

