.slider__container {
    width: fit-content;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
}

.sliding-div-appare-yp {
    background-color: #79AC78;
    color: #D0E7D2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-1000px);
    animation: slide-in-div-yp 0.5s forwards;
}

@keyframes slide-in-div-yp {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.response__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.response__grid__item {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}