<nav class="navbar nav fixed-top">
    <div class="container-fluid">
        <a class="h1 px-2 mx-2 hover-1" href="explorer-home.html" style="text-decoration: none;">SurveySafari</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <i class="bi bi-menu-button h2 p-1 m-1"></i>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #79AC78;">
        <div class="offcanvas-header">
          <h4 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Explorer Menu 🧭</h4>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="explorer-home.html"><i class="bi bi-house"></i><span class="px-3"> Home</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="explorer-profile.html"><i class="bi bi-person-bounding-box"></i><span class="px-3"> Profile</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="survey-home.html"><i class="bi bi-clipboard-data"></i> <span class="px-3">Surveys</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="redeem-shop.html"><i class="bi bi-shop"></i> <span class="px-3">Redeem Shop</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="leaderboard.html"><i class="bi bi-sort-numeric-up"></i> <span class="px-3">Leader Board</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="community-discussion.html"><i class="bi bi-chat-square-text"></i> <span class="px-3">Community Discussion</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-door-open"></i> <span class="px-3">Enter Safari</span></a> </!-- The open world multiplayer safari game--/>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-box-arrow-in-left"></i> <span class="px-3">Sign Out</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>